/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root{
    color-scheme: light dark;
}

.skill {
    position: relative;
    width: fit-content;
  }
  
  .skill-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; /* Evita que el texto interfiera con el hover */
  }
  
  .skill:hover .skill-name {
    opacity: 1;
  }
  
  /* Si deseas que la imagen se oculte al mostrar el texto */
  .skill:hover img {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  


  .home-hero__socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: .5rem;
  }

  .home-hero__social {
    width: 5rem;
  }